{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'consola/css/carrito/carro.css' %}">
   <link href="{% static 'consola/css/style2.css' %}" rel="stylesheet"> 
    <link rel="shortcut icon" href="{% static 'consola/Imagenes/logo.jpg' %}"/>
    <script type="module" src="{% static 'consola/js/api.js' %}"></script>
    <script src="{% static 'consola/js/carro.js'  %}" async></script>
    <title>Ferremas | Catalogo</title>
</head>
<body>
    <header>
     <h1 class="titulo" style="color: black;">FERREMAS</h1>
    </header>

    <div class="nav-bg">
        <nav class="navegacion-principal contenedor">
            {% if not request.user.is_authenticated %}
            <a href="{% url 'login' %}">Inicio sesión</a>
            {% else %}
                <a>{{ user.username}} </a>
                <form id="logout-form" method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" href="{% url 'logout' %}">salir</button>
                </form>
            {% endif %}
            <a href="{% url 'archivo' %}">Inicio</a>
            <a href="#">Ajustes</a>
        </nav>
    </div>

    <div class="container-icon">
        <div class="container-cart-icon">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="icon-cart"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"
                />
            </svg>
            <div class="count-products">
                <span id="contador-productos">0</span>
            </div>
        </div>

        <div class="container-cart-products hidden-cart">
            <div class="row-product hidden">
                <div class="cart-product">
                    <div class="info-cart-product">
                        <span class="cantidad-producto-carrito">1</span>
                        <p class="titulo-producto-carrito">Zapatos Nike</p>
                        <span class="precio-producto-carrito">$80</span>
                    </div>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="icon-close"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M6 18L18 6M6 6l12 12"
                        />
                    </svg>
                </div>
            </div>

            <div class="cart-total hidden">
                <h3>Total:</h3>
                
                <span class="total-pagar">$200</span>
                <a href="{% url 'iniciar_pago' %}" class="btn">Pagar</a>
            </div>
            <p class="cart-empty">El carrito está vacío</p>
        </div>
    </div>
</header>
 <!-- <button id="cambiarMoneda" onclick="cambiarMoneda()">cambiar a usd</button>-->
<div class="container-items">
    <div class="item" id="u">
        <figure>
            <img src="{% static 'consola/Imagenes/productos/1.jpg' %}" alt="">
        </figure>
        <div class="info-product">
            <h2>Tornillos</h2>
            <h5>Pesos Chilenos: </h5><span id="e"class="precio-item"  class="price">$1500</span>
            <h5>Pesos USD: </h5><span id="i" class="precio-item" class="price">$1500</span>
            <h5>Pesos UF: </h5><span id="uf" class="precio-item-uf" class="price">$1500</span>
            <button class="btn-add-cart">Añadir al carrito</button>
        </div>
    </div>
    <div class="item" id="u">
        <figure>
            <img src="{% static 'consola/Imagenes/productos/2.png' %}" alt="">
        </figure>
        <div class="info-product">
            <h2>Trasnpaleta Manual</h2>
            <h5>Pesos Chilenos: </h5><span class="precio-item"  class="price">$100000</span>
            <h5>Pesos USD: </h5><span id="i" class="precio-item" class="price">$100000</span>
            <h5>Pesos UF: </h5><span id="uf" class="precio-item-uf" class="price">$100000</span>
            <button class="btn-add-cart">Añadir al carrito</button>
        </div>
    </div>
    <div class="item" id="u">
        <figure>
            <img src="{% static 'consola/Imagenes/productos/3.jpg' %}" alt="">
        </figure>
        <div class="info-product">
            <h2>Alicate Universal 200mm</h2>
            <h5>Pesos Chilenos: </h5><span class="precio-item"  class="price">$3500</span>
            <h5>Pesos USD: </h5><span id="i" class="precio-item" class="price">$3500</span>
            <h5>Pesos UF: </h5><span id="uf" class="precio-item-uf" class="price">$3500</span>
            <button class="btn-add-cart">Añadir al carrito</button>
        </div>
    </div>
    <div class="item" id="u">
        <figure>
            <img src="{% static 'consola/Imagenes/productos/4.jpeg' %}" alt="">
        </figure>
        <div class="info-product">
            <h2>Clavo Corriente Inchalam 2 1/2</h2>
            <h5>Pesos Chilenos: </h5><span class="precio-item"  class="price">$3000</span>
            <h5>Pesos USD: </h5><span id="i" class="precio-item" class="price">$3000</span>
            <h5>Pesos UF: </h5><span id="uf" class="precio-item-uf" class="price">$3000</span>
            <button class="btn-add-cart">Añadir al carrito</button>
        </div>
    </div>
    <div class="item"  id="u">
        <figure>
            <img src="{% static 'consola/Imagenes/productos/5.jpg' %}" alt="">
        </figure>
        <div class="info-product">
            <h2>Taladro Percutor Dewalt 20V</h2>
            <h5>Pesos Chilenos: </h5><span  class="precio-item"  class="price">$38990</span>
            <h5>Pesos USD: </h5><span id="i" class="precio-item" class="price">$38990</span>
            <h5>Pesos UF: </h5><span id="uf" class="precio-item-uf" class="price">$38990</span>
            <button class="btn-add-cart">Añadir al carrito</button>
        </div>
    </div>
    <div class="item"  id="u">
        <figure>
            <img src="{% static 'consola/Imagenes/productos/6.jpg' %}" alt="">
        </figure>
        <div class="info-product">
            <h2>Ladrillo</h2>
            <h5>Pesos Chilenos: </h5><span  class="precio-item"  class="price">$600</span>
            <h5>Pesos USD: </h5><span id="i" class="precio-item" class="price">$600</span>
            <h5>Pesos UF: </h5><span id="uf" class="precio-item-uf" class="price">$600</span>
            <button class="btn-add-cart">Añadir al carrito</button>
        </div>
    </div>
    <div class="item"  id="u">
        <figure>
            <img src="{% static 'consola/Imagenes/productos/7.jpeg' %}" alt="">
        </figure>
        <div class="info-product">
            <h2>Casco De Seguridad</h2>
            <h5>Pesos Chilenos: </h5><span  class="precio-item"  class="price">$3500</span>
            <h5>Pesos USD: </h5><span id="i" class="precio-item" class="price">$3500</span>
            <h5>Pesos UF: </h5><span id="uf" class="precio-item-uf" class="price">$3500</span>
            <button class="btn-add-cart">Añadir al carrito</button>
        </div>
    </div>
    <div class="item"  id="u">
        <figure>
            <img src="{% static 'consola/Imagenes/productos/8.jpg' %}" alt="">
        </figure>
        <div class="info-product">
            <h2>Lentes De Seguridad</h2>
            <h5>Pesos Chilenos: </h5><span  class="precio-item"  class="price">$2000</span>
            <h5>Pesos USD: </h5><span id="i" class="precio-item" class="price">$2000</span>
            <h5>Pesos UF: </h5><span id="uf" class="precio-item-uf" class="price">$2000</span>
            <button class="btn-add-cart">Añadir al carrito</button>
        </div>
    </div>
    <div class="item"  id="u">
        <figure>
            <img src="{% static 'consola/Imagenes/productos/9.png' %}" alt="">
        </figure>
        <div class="info-product">
            <h2>Barnices</h2>
            <h5>Pesos Chilenos: </h5><span  class="precio-item"  class="price">$8990</span>
            <h5>Pesos USD: </h5><span id="i" class="precio-item" class="price">$8990</span>
            <h5>Pesos UF: </h5><span id="uf" class="precio-item-uf" class="price">$8990</span>
            <button class="btn-add-cart">Añadir al carrito</button>
        </div>
    </div>
</div>


</body>
</html>