* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: arial;
    background-image: url('../Imagenes/fondo.jpg');
    background-size: cover;
    /* Esto asegura que el fondo se muestre completamente */
    background-repeat: no-repeat;
  }
  h3{
    text-align: center;
  }
  
  
  .container {
    width: 800px;
    height: 520px;
    background: #947a7a;
    margin: auto;
    margin-top: 3rem;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #7f9aa5;
    color: white;
  }
  
  .form-control h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
  }
  
#id_username, #id_email, #id_password1, #id_password2{
    width: 100%;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #4e4e4e;
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin-top: 1rem;
  }
  
  .buttons {
    width: 100%;
    height: 40px;
    background: #31266177;
    border: none;
    color: white;
    margin-bottom: 16px;
    margin-top: 1rem;
  }
  
  .form-login p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
  }
  
  li {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
  
 li:hover {
    text-decoration: underline;
  }

  .value {
    color: white;
  }