{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'consola/css/vendedorS/StyleV.css' %}" rel="stylesheet">
    <title>Productos en Bodega</title>
</head>
<body>
    <header>
        <h1 class="titulo">FERREMAS <span>Vista Vendedor</span></h1>
    </header>

    <div class="nav-bg">
        <nav class="navegacion-principal contenedor">
            <a href="BodePr.html">Productos en Bodega</a>
            <a href="Pedido.html">Pedidos</a>
            <a href="OrdeV.html">Ordenes</a>
        </nav>
    </div>
    <h1>Lista de Artículos</h1>
    <div id="articulos"></div>

    <script>
        // URL de la API
        const apiUrl = 'http://127.0.0.1:8000/%2Fapi/Producto/';

        // Función para llamar a la API y procesar los datos
        async function fetchArticulos() {
            try {
                const response = await fetch(apiUrl);
                if (!response.ok) {
                    throw new Error('Error en la solicitud: ' + response.status);
                }
                const data = await response.json();
                mostrarArticulos(data);
            } catch (error) {
                console.error('Error al obtener los artículos:', error);
            }
        }

        // Función para mostrar los artículos en el HTML
        function mostrarArticulos(articulos) {
            const articulosDiv = document.getElementById('articulos');
            articulosDiv.innerHTML = ''; // Limpiar cualquier contenido previo

            articulos.forEach(articulo => {
                const articuloElement = document.createElement('div');
                articuloElement.textContent = `Título: ${articulo.Codigo}, Descripción: ${articulo.Nombre_Producto}`;
                articulosDiv.appendChild(articuloElement);
            });
        }

        // Llamar a la función para obtener y mostrar los artículos
        fetchArticulos();
    </script>
</body>
</html>